@charset "utf-8";
/* CSS Document */

html {
  font-size: 16px;

font-family: rival-sans, sans-serif;

font-weight: 500;

font-style: normal;}

body {
  	background-color: #F2F2F2;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	

}

p {
	max-width: 70ch;
}

header {
	text-align: center;
	color: #565D46;
}

h1 {
	
font-family: rival-sans, sans-serif;

font-weight: 800;

font-style: normal;
}

h4 {
	
font-family: rival-sans, sans-serif;

font-weight: 300;

font-style: normal;
}
header a {
  text-decoration: none;
  font-size: 20px;
  color: #565D46;
  display: block;
}
header a:hover {
  color: #373C2D;
	text-decoration: underline;
}

.my_details {
	float: left;
	grid-area: deet;
	border-bottom: 3px black solid;
	border-right: 2px black solid;
}

.app_statement {
	float: right;
	grid-area: app_state;
	border-right: 2px black solid;
}

.project_1 {
}
#proj1  {grid-area: proj1;
border-top: 1px black solid;}
#proj1a  {grid-area: proj1a;}
#proj1b  {grid-area: proj1b;}
#proj1c  {grid-area: proj1c;}
#proj1d  {grid-area: proj1d;}

.proj

.project_2 {
	float: left;
}

.project_3 { 
	float:left;
}



main {
	padding: 0px 10px;
	display: grid;
	grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
	
	grid-template-areas: 
		". . . . . . app_state app_state app_state ."
		". . deet deet . . app_state app_state app_state ."
		". . deet deet . . app_state app_state app_state ."
		". . deet deet . . app_state app_state app_state ."
		". . . . . . app_state app_state app_state ."
		". . . . . . app_state app_state app_state ."
		". . . . . . app_state app_state app_state ."
		". . . . . . app_state app_state app_state ."
		". . . . . . app_state app_state app_state ."
		". . . . . . . . . ."
		". proj1 proj1 proj1 . proj1a proj1a . proj1b ."
		". proj1 proj1 proj1 . proj1a proj1a . . ."
		". proj1 proj1 proj1 . . . . proj1c ."
		". . . . . . . . proj1d proj1d"
		
	
	
	
	
	
	
	
	
	
	
	
}

img {
	max-width: 35%;
	height: auto;
	padding: 15px;
	
}

.my_details {
	float: left;

}

.app_statement {
	float: right;
}

.project_1 {
	float: left;
}

.project_2 {
	float: left;
}

.project_3 { 
	float:left;
}










